@attribute [Route(PageUrls.BaseInfoCountries)]
@attribute [Route("{culture?}" + PageUrls.BaseInfoCountries)]
@attribute [Authorize(Policy = AuthPolicies.PRIVILEGED_ACCESS)]
@attribute [Authorize(Policy = AppFeatures.BaseInfo.ManageCountries)]
@inherits BaseInfoPageBase

<AppPageData Title="@Localizer[nameof(AppStrings.Countries)]"
             PageTitle="@Localizer[nameof(AppStrings.CountriesPageTitle)]" />

<BaseInfoWorkspace>
    <BaseInfoToolbar @bind-SearchText="searchText"
                     SearchPlaceholder="@Localizer[nameof(AppStrings.SearchCountriesPlaceholder)]"
                     OnSearch="WrapHandled(SearchCountries)"
                     AddButtonText="@Localizer[nameof(AppStrings.AddCountry)]"
                     OnAdd="WrapHandled(() => OpenAddForm(ResetFormInternal))" />

    @if (isLoading)
    {
        <BitRippleLoading />
    }
    else if (countries.Count == 0)
    {
        <BitMessage Color="BitColor.Info">@Localizer[nameof(AppStrings.NoCountries)]</BitMessage>
    }
    else
    {
        <div class="data-table-wrap">
            <table class="data-table">
                <thead>
                    <tr>
                        <th>@Localizer[nameof(AppStrings.Country)]</th>
                        <th>@Localizer[nameof(AppStrings.Iso2)]</th>
                        <th>@Localizer[nameof(AppStrings.Iso3)]</th>
                        <th class="actions">@Localizer[nameof(AppStrings.Actions)]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var country in countries)
                    {
                        <tr>
                            <td class="primary-cell">@country.Name</td>
                            <td>@country.Iso2</td>
                            <td>@country.Iso3</td>
                            <td class="actions">
                                <BaseInfoRowActions OnEdit="WrapHandled(() => OpenEditForm(() => LoadCountry(country)))"
                                                    OnDelete="WrapHandled(() => ConfirmDeleteCountry(country))" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }

    <BaseInfoFormModal @bind-IsOpen="isFormOpen"
                       Title="@(editingCountry.Id == Guid.Empty ? Localizer[nameof(AppStrings.AddCountry)] : Localizer[nameof(AppStrings.UpdateCountry)])"
                       OnCloseRequested="WrapHandled(() => RequestCloseForm(HasUnsavedChanges(), ResetFormInternal))">
        <EditForm Model="editingCountry" FormName="BaseInfoCountryForm" OnValidSubmit="WrapHandled(SaveCountry)">
            <DataAnnotationsValidator />
            <div class="form-grid">
                <BitTextField @bind-Value="editingCountry.Name" Name="CountryName" Label="@Localizer[nameof(AppStrings.Country)]" />
                <BitTextField @bind-Value="editingCountry.Iso2" Name="CountryIso2" Label="@Localizer[nameof(AppStrings.Iso2)]" MaxLength="2" />
                <BitTextField @bind-Value="editingCountry.Iso3" Name="CountryIso3" Label="@Localizer[nameof(AppStrings.Iso3)]" MaxLength="3" />
            </div>
            <div class="form-actions">
                <BitButton ButtonType="BitButtonType.Submit" Color="BitColor.Primary" IsLoading="isSaving">
                    @(editingCountry.Id == Guid.Empty ? Localizer[nameof(AppStrings.Add)] : Localizer[nameof(AppStrings.Update)])
                </BitButton>
                <BitButton ButtonType="BitButtonType.Button" Variant="BitVariant.Outline" OnClick="WrapHandled(() => RequestCloseForm(HasUnsavedChanges(), ResetFormInternal))">
                    @Localizer[nameof(AppStrings.Cancel)]
                </BitButton>
            </div>
        </EditForm>
    </BaseInfoFormModal>
</BaseInfoWorkspace>

<BaseInfoConfirmDialogs @bind-IsDeleteDialogOpen="isDeleteDialogOpen"
                        DeleteMessage="@Localizer.GetString(nameof(AppStrings.AreYouSureWannaDelete), deleteTargetName ?? string.Empty)"
                        DeleteConfirmed="WrapHandled(DeleteCountryConfirmed)"
                        DeleteCanceled="WrapHandled(HandleDeleteCanceled)"
                        @bind-IsDiscardDialogOpen="isDiscardDialogOpen"
                        DiscardConfirmed="WrapHandled(HandleDiscardConfirmed)" />
