@attribute [Route(PageUrls.BaseInfoTimeZones)]
@attribute [Route("{culture?}" + PageUrls.BaseInfoTimeZones)]
@attribute [Authorize(Policy = AuthPolicies.PRIVILEGED_ACCESS)]
@attribute [Authorize(Policy = AppFeatures.BaseInfo.ManageTimeZones)]
@inherits BaseInfoPageBase

<AppPageData Title="@Localizer[nameof(AppStrings.TimeZones)]"
             PageTitle="@Localizer[nameof(AppStrings.TimeZonesPageTitle)]" />

<BaseInfoWorkspace>
    <BaseInfoToolbar @bind-SearchText="searchText"
                     SearchPlaceholder="@Localizer[nameof(AppStrings.SearchTimeZonesPlaceholder)]"
                     OnSearch="WrapHandled(SearchTimeZones)"
                     AddButtonText="@Localizer[nameof(AppStrings.AddTimeZone)]"
                     OnAdd="WrapHandled(() => OpenAddForm(ResetFormInternal))" />

    @if (isLoading)
    {
        <BitRippleLoading />
    }
    else if (timeZones.Count == 0)
    {
        <BitMessage Color="BitColor.Info">@Localizer[nameof(AppStrings.NoTimeZones)]</BitMessage>
    }
    else
    {
        <div class="data-table-wrap">
            <table class="data-table">
                <thead>
                    <tr>
                        <th>@Localizer[nameof(AppStrings.TimeZoneDisplayName)]</th>
                        <th>@Localizer[nameof(AppStrings.IanaTimeZoneId)]</th>
                        <th>@Localizer[nameof(AppStrings.UtcOffset)]</th>
                        <th class="actions">@Localizer[nameof(AppStrings.Actions)]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var timeZone in timeZones)
                    {
                        <tr>
                            <td class="primary-cell">@timeZone.DisplayName</td>
                            <td>@timeZone.IanaId</td>
                            <td>@timeZone.UtcOffset</td>
                            <td class="actions">
                                <BaseInfoRowActions OnEdit="WrapHandled(() => OpenEditForm(() => LoadTimeZone(timeZone)))"
                                                    OnDelete="WrapHandled(() => ConfirmDeleteTimeZone(timeZone))" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }

    <BaseInfoFormModal @bind-IsOpen="isFormOpen"
                       Title="@(editingTimeZone.Id == Guid.Empty ? Localizer[nameof(AppStrings.AddTimeZone)] : Localizer[nameof(AppStrings.UpdateTimeZone)])"
                       OnCloseRequested="WrapHandled(() => RequestCloseForm(HasUnsavedChanges(), ResetFormInternal))">
        <EditForm Model="editingTimeZone" FormName="BaseInfoTimeZoneForm" OnValidSubmit="WrapHandled(SaveTimeZone)">
            <DataAnnotationsValidator />
            <div class="form-grid-wide">
                <BitTextField @bind-Value="editingTimeZone.IanaId" Name="TimeZoneIanaId" Label="@Localizer[nameof(AppStrings.IanaTimeZoneId)]" />
                <BitTextField @bind-Value="editingTimeZone.DisplayName" Name="TimeZoneDisplayName" Label="@Localizer[nameof(AppStrings.TimeZoneDisplayName)]" />
                <BitTextField @bind-Value="editingTimeZone.UtcOffset" Name="TimeZoneUtcOffset" Label="@Localizer[nameof(AppStrings.UtcOffset)]" MaxLength="10" />
            </div>
            <div class="form-actions">
                <BitButton ButtonType="BitButtonType.Submit" Color="BitColor.Primary" IsLoading="isSaving">
                    @(editingTimeZone.Id == Guid.Empty ? Localizer[nameof(AppStrings.Add)] : Localizer[nameof(AppStrings.Update)])
                </BitButton>
                <BitButton ButtonType="BitButtonType.Button" Variant="BitVariant.Outline" OnClick="WrapHandled(() => RequestCloseForm(HasUnsavedChanges(), ResetFormInternal))">
                    @Localizer[nameof(AppStrings.Cancel)]
                </BitButton>
            </div>
        </EditForm>
    </BaseInfoFormModal>
</BaseInfoWorkspace>

<BaseInfoConfirmDialogs @bind-IsDeleteDialogOpen="isDeleteDialogOpen"
                        DeleteMessage="@Localizer.GetString(nameof(AppStrings.AreYouSureWannaDelete), deleteTargetName ?? string.Empty)"
                        DeleteConfirmed="WrapHandled(DeleteTimeZoneConfirmed)"
                        DeleteCanceled="WrapHandled(HandleDeleteCanceled)"
                        @bind-IsDiscardDialogOpen="isDiscardDialogOpen"
                        DiscardConfirmed="WrapHandled(HandleDiscardConfirmed)" />
