@attribute [Route(PageUrls.FlightLogs)]
@attribute [Route("{culture?}" + PageUrls.FlightLogs)]
@attribute [Authorize(Policy = AuthPolicies.PRIVILEGED_ACCESS)]
@attribute [Authorize(Policy = AppFeatures.Logbook.ManageFlightLogs)]
@inherits AppPageBase

<AppPageData Title="@Localizer[nameof(AppStrings.FlightLogs)]"
             PageTitle="@Localizer[nameof(AppStrings.FlightLogsPageTitle)]" />

<LogbookWorkspace>
    <div class="logbook-toolbar">
        <BitSearchBox @bind-Value="searchText"
                      Class="search"
                      Placeholder="@Localizer[nameof(AppStrings.SearchFlightsPlaceholder)]"
                      OnChange="WrapHandled(FilterFlights)"
                      Immediate DebounceTime="300" />
        <BitDatePicker @bind-Value="filterFromDate" Placeholder="@Localizer[nameof(AppStrings.FromDate)]" OnChange="WrapHandled(FilterFlights)" />
        <BitDatePicker @bind-Value="filterToDate" Placeholder="@Localizer[nameof(AppStrings.ToDate)]" OnChange="WrapHandled(FilterFlights)" />
        <BitSpacer />
        <BitButton IconName="@BitIconName.Add" Color="BitColor.Primary" Href="@PageUrls.AddOrEditFlightLog">
            @Localizer[nameof(AppStrings.AddFlight)]
        </BitButton>
    </div>

    @if (isLoading)
    {
        <BitRippleLoading />
    }
    else if (filteredFlights.Count == 0)
    {
        <BitMessage Color="BitColor.Info">@Localizer[nameof(AppStrings.NoFlights)]</BitMessage>
    }
    else
    {
        <div class="data-table-wrap">
            <table class="data-table">
                <thead>
                    <tr>
                        <th>@Localizer[nameof(AppStrings.FlightDate)]</th>
                        <th>@Localizer[nameof(AppStrings.Aircraft)]</th>
                        <th>@Localizer[nameof(AppStrings.Route)]</th>
                        <th>@Localizer[nameof(AppStrings.BlockTime)]</th>
                        <th>@Localizer[nameof(AppStrings.FlightTime)]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var flight in filteredFlights)
                    {
                        <tr>
                            <td>
                                <BitLink Class="flight-row-link" Href="@($"{PageUrls.FlightLogDetail}/{flight.Id}")" NoUnderline>
                                    @flight.FlightDate.ToString("d")
                                </BitLink>
                            </td>
                            <td class="primary-cell">@flight.AircraftRegistration</td>
                            <td class="secondary-cell">@flight.RouteSummary</td>
                            <td><FlightTimeDisplay Minutes="flight.TotalBlockMinutes" /></td>
                            <td><FlightTimeDisplay Minutes="flight.TotalFlightMinutes" /></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</LogbookWorkspace>
