@inherits AppComponentBase;

<section>
    <BitNavBar TItem="BitNavBarOption" Style="width:100%">

        <AuthorizeView Policy="@AppFeatures.Logbook.ManageFlightLogs">
            <BitNavBarOption Text="@Localizer[nameof(AppStrings.LogbookDashboard)]" IconName="@BitIconName.ViewDashboard" Url="@PageUrls.Home" />
            <BitNavBarOption Text="@Localizer[nameof(AppStrings.FlightLogs)]" IconName="@BitIconName.List" Url="@PageUrls.FlightLogs" />
        </AuthorizeView>

        <AuthorizeView Policy="@AppFeatures.BaseInfo.ManageAirports">
            <BitNavBarOption Text="@Localizer[nameof(AppStrings.Airports)]" IconName="@BitIconName.Globe" Url="@PageUrls.BaseInfoAirports" />
        </AuthorizeView>
        <AuthorizeView Policy="@AppFeatures.BaseInfo.ManageCountries">
            <BitNavBarOption Text="@Localizer[nameof(AppStrings.Countries)]" IconName="@BitIconName.MapLayers" Url="@PageUrls.BaseInfoCountries" />
        </AuthorizeView>
        <AuthorizeView Policy="@AppFeatures.BaseInfo.ManageTimeZones">
            <BitNavBarOption Text="@Localizer[nameof(AppStrings.TimeZones)]" IconName="@BitIconName.WorldClock" Url="@PageUrls.BaseInfoTimeZones" />
        </AuthorizeView>
        <AuthorizeView Policy="@AppFeatures.BaseInfo.ManageCities">
            <BitNavBarOption Text="@Localizer[nameof(AppStrings.Cities)]" IconName="@BitIconName.CityNext" Url="@PageUrls.BaseInfoCities" />
        </AuthorizeView>
        <AuthorizeView Policy="@AppFeatures.BaseInfo.ManageAircraft">
            <BitNavBarOption Text="@Localizer[nameof(AppStrings.Aircrafts)]" IconName="@BitIconName.Airplane" Url="@PageUrls.BaseInfoAircraft" />
        </AuthorizeView>
        <AuthorizeView Policy="@AppFeatures.BaseInfo.ManageCrew">
            <BitNavBarOption Text="@Localizer[nameof(AppStrings.CrewMembers)]" IconName="@BitIconName.People" Url="@PageUrls.BaseInfoCrew" />
        </AuthorizeView>

        <BitNavBarOption Text="@Localizer[nameof(AppStrings.Terms)]" IconName="@BitIconName.EntityExtraction" Url="@PageUrls.Terms" />

    </BitNavBar>
</section>
